body {
  padding: 20px;
  min-height: 100vh;
  background: #333;
}

header {
  color: rgb(216, 58, 58);
}

.app-tasks {
  display: flex;
}

.app-task-column {
  width: 30%;
  color: white;
}

.app-task-row {
  border: 1px solid white;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
