:root {
  --main-bg-color: #121212;
  --main-table-bg-color: #424242;
  --border-color: rgba(81, 81, 81, 1);
  --border-radius-value: 3px;
  --title-color: #90caf9; 
}

body {
  padding: 10px;
  background: var(--main-bg-color);
  overflow: scroll;
}

header {
  color: var(--title-color);
}

header h1 {
  margin: 0px;
  padding: 0px;
}

.app-tasks {
  display: flex;
  flex-direction: column;
}

.app-task-date-title {
  color: var(--title-color);
}

.app-task-details-container {
  display: flex;
}

.app-task-column {
  width: 30%;
  border: 1px solid var(--border-color);
  text-align: center;
  color: white;
  background: var(--main-table-bg-color);
}

.app-task-column:nth-child(1) {
  border-top-left-radius: var(--border-radius-value);
  border-bottom-left-radius: var(--border-radius-value);
}

.app-task-column:nth-child(4) {
  border-top-right-radius: var(--border-radius-value);
  border-bottom-right-radius: var(--border-radius-value);
}

.app-task-row {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
}

.app-task-row:nth-child(1) {
  border-bottom: 1px solid var(--border-color);
}
